// //////////////////////////////
// @@ FARWELL NODE
// //////////////////////////////

// views-view--farwell_page.html.twig

.farwell-page {
  margin-bottom: $margin-bb;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  
}


// views-view-unformatted--farwell_page.html.twig

.farwell-row {
  margin-bottom: $margin-bb;
  background-color: map-get($colors, white);

  @include mq(tablet) {
    width: 46%;
    margin: 2%;
  }

}


// node--farwell.html.twig

.n-farwell {
  
  padding: 2rem 3rem;

  &__content {

    @include mq('desktop') {
      
    }
     
  }

  &__image {

    margin-bottom: $margin-b;

    @include mq('desktop') {
      float: left;
      width: 35%;
      margin-right: 8%;
    }

  }

  &__body {

  }

}