// //////////////////////////////
// @@ PAGE NODE
// //////////////////////////////

.n-page {
	&__content {
		margin-bottom: $margin-b;
		overflow: auto;
	}

	&__img {
		margin-bottom: $margin-b;

        @include mq(tablet) {
            margin-bottom: 0;
            width: 45%;
			max-width: 45rem;
			float: left;
			margin-right: 3.5rem;
        }
	}

    &__img-flex {

    }

	&__body {
	}

	// on field--field-page-img.html.twig

	&__field-items {

		@include mq(tablet) {			
			display: flex;
            align-items: center;
		}
	}

	&__field-item {
		margin-bottom: $margin-b;

        &:not(:last-child) {
            margin-right: 1rem;
        }
	}
}
