{#
/**
 * @file
 *
 * region-strategy.html.twig
 * 
 */
#}

<div class="r-strategy">
      <h2 class="heading-two">Onze diensten</h2>
      {# <div class="r-strategy__inner"> #}
        <!-- r-strategy__panel = node--teaser -->
        {{ page.strategy }}
      {# </div> #}
      <div class="r-strategy__btn">
        <a href="/ons-aanbod" class="c-btn c-btn--accent-two">Meer info</a>
      </div>

    </div>
    <!-- end region r-strategy -->
