{#
/**
 * @file
 * region-farwell.html.twig
 * 
 */
#}

<div class="r-farwell">
    <h2 class="heading-two">Wij nemen afscheid van:</h2>
    <div class="r-farwell__inner">
        {{ page.farwell }}
    </div>
</div>
