

<div class="r-contact-overlay">
    <div class="r-contact-overlay__inner">
      <div class="r-contact-overlay__top">
        <div class="r-contact-overlay__logo">
          <img src="{{ base_path ~ directory }}/dist/images/menu-logo-phone.png" alt="">
        </div>
        <div class="r-contact-overlay__close js-close-contact">
          <div class="c-close-btn c-close-btn--black"></div>
        </div>
      </div>
      <div class="r-contact-overlay__body">
        <p>Kuaga bvba<br>Maatheide 74/G 3920 Lommel</p>
        <a class="c-phone c-phone--bgc" href="tel:+3211644522">+32 11644522</a>
        <a class="c-phone c-phone--bgc" href="tel:+32475638869">+32 475638869</a>
      </div>
      <div class="r-contact-overlay__social">
        <a href="https://www.facebook.com/uitvaartzorgkuaga/">
          <img class="r-contact-overlay__icon" src="{{ base_path ~ directory }}/dist/images/facebook-icon.jpg" alt="">
        </a>
      </div>
    </div>
  </div>