{#
/**
 * @file
 *
 * footer.html.twig
 * 
 */
#}

<footer class="r-footer">
	<div class="container">
		<div
			class="r-footer__inner">

			{# brochure #}
			<div class="r-footer__brochure">

				{{ page.footerbrochure }}

			</div>
      {# end brochure #}

			{# opening-hours #}
			<div class="r-footer__opening-hours">
				<h3 class="heading-three">Openingsuren</h3>
				<p>
					<table>
						<tr>
							<td colspan="2">
								Maandag tot vrijdag</td>
						</tr>
						<tr>
							<td>09h00-12h00</td>
							<td>13h00-19h00</td>
						</tr>
						<tr>
							<td>Zaterdag</td>
							<td>09h00-15h00</td>
						</tr>
					</table>
				</p>
			</div>
      {# end opening-hours #}

			{# contact #}
			<div class="r-footer__contact">
				<h3 class="heading-three">Contact</h3>
				<div class="r-footer__contact-text">
					<p>
						Kuaga bvba<br>Maatheide 74/G 3920 Lommel<br>+3211644522 - +32475638869
					</p>
					<a href="#"><img src="../dist/images/facebook-icon.jpg" alt=""></a>
				</div>
			</div>
      {# end contact #}

			{# partners #}
			<div class="r-footer__partners">
				<h3 class="heading-three">Partners</h3>
				<div class="r-footer__partners-icons">
					<a href="#">
						<img src="../dist/images/laudire.jpg" alt="">
					</a>
					<a href="#">
						<img src="../dist/images/trimca.png" alt="">
					</a>
				</div>
			</div>
      {# end partners #}

		</div>
		{# end r-footer__inner #}

		<div class="r-footer__copy">
			<p>© {{ "now"|date("Y") }} Kuaga dierencrematorium -
				<br>
				Maatheide 74/G 3920 Lommel -
				<a href="#">Privacy Policy</a>
			</p>
		</div>
		{# end r-footer__copy #}
	</div>
	{# end container #}

</footer>
