{#
/**
 * @file
 * 
 * menu-overlay.html.twig
 * 
 */
#}

<div class="r-menu-overlay">
	<div class="r-menu-overlay__top">
		<div class="r-menu-overlay__close js-close-menu">
			<span class="c-close-btn c-close-btn--black">&nbsp;</span>
		</div>
		<div class="r-menu-overlay__logo">
			<img src="{{ base_path ~ directory }}/dist/images/menu-logo-phone.png" alt="">
		</div>
	</div>

	<div class="r-menu-overlay__list">

		<div class="r-menu-overlay__main-menu">
			{{ page.nav }}
		</div>
    
		<div class="r-menu-overlay__product-menu">
			<h3>Onze producten</h3>
			{{ page.productmenu }}
		</div>
	</div>

	{# This region especially for the veterinarian file #}
	<div class="r-menu-overlay__bottom">
		{{ page.nav_veterinarian_file }}
	</div>
</div>
