// //////////////////////////////
// @@ FARWELL REGION
// //////////////////////////////

.r-farwell {
  text-align: center;
  margin-bottom: $margin-bb;

  &__inner {
    display: flex;
    flex-direction: row;
  }

  &__panel {
    background-color: rgba(map-get($colors, accent-two), 0.7);
    padding: $default-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    $this: &;

    // Caching the Current Selector (&)
    // & + & {} or & + #{&} {} or with var $this: &;
    // & + #{$this} {}
    & + #{$this} {
      display: none;

      @include mq(tablet) {
        display: flex;
        margin-left: 1rem;
      }
    }

  }

  &__images {
    margin-bottom: $margin-b;
    img {
      max-width: 17.5rem;
    }
  }

  &__text {
    text-align: left;
  }

  &__title {
    text-transform: uppercase;
    font: {
      family: $ff-titles;
      size: $ff-size + 2.5rem;
    };
    margin-bottom: $margin-b;
    color: map-get($colors, white);
  }

  &__name {
    margin-bottom: 2rem;
    font-size: $ff-size + .4rem;
  }
}
