// //////////////////////////////
// @@ HEADER 
// //////////////////////////////

.r-header {
  padding: 2rem;
  background-color: map-get($colors, accent);
  margin-bottom: $margin-b;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}