// /////////////////////////
// @@ INTRO REGION
// ////////////////////////

.r-intro {
    margin-bottom: $margin-bb;

    &__images {
        margin-bottom: $margin-b;
        display: flex;
    }

    &__image {

        @include mq(tablet) {
            max-width: 33%;
        }
    }

    &__image-1, &__image-2 {
        display: none;

        @include mq(tablet) {
            display: block;
            margin-left: 1rem;
        }
    }



    &__text {
        display: flex;
        justify-content: center;
        text-align: center;

        p {
            max-width: 60rem;
        }
    }
}

.r-second-intro {
    background-color: map-get($colors, accent);
    padding: $double-padding;
    margin-bottom: $margin-bb;

    @include mq(tablet) {
        display: flex;
        align-items: center;
    }

    &__images {
        margin-bottom: $margin-b;

        @include mq(tablet) {
            max-width: 35%;
            margin-right: 3rem;
            margin-bottom: 0;
        }
    }

    &__text {
        color: map-get($colors, black);
        text-align: center;

        @include mq(tablet) {
            width: 65%;
        }
    }
}