// /////////////////////////
// @@ INTRO REGION
// ////////////////////////

.r-intro {
    margin-bottom: $margin-b;

    &__images {
        margin-bottom: $margin-b;
    }

    &__text {
        display: flex;
        justify-content: center;
        text-align: center;

        p {
            max-width: 80rem;
        }
    }
}

.r-second-intro {
    background-color: map-get($colors, accent);
    padding: $default-padding;
    margin-bottom: $margin-b;

    &__images {
        margin-bottom: $margin-b;
    }

    &__text {
        color: map-get($colors, black);
        text-align: center;
    }
}