// /////////////////////////
// @@ MENU-OVELAY REGION
// ////////////////////////

.r-menu-overlay {
  right: -100vw;
  position: fixed;
  opacity: 0;
  background-color: map-get($colors, accent-two);
  top: 0;
  height: 100%;
  width: 100%;
  padding: $default-padding;
  overflow: auto;
  z-index: 999;
  transition: all 0.9s;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-b;
  }

  &__close {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  &__list {
    display: flex;

  }

  &__items {
      list-style-type: none;
  }

  &__item {
    font: {
      size: 3rem;
      weight: $fw-bold;
    }
    text-transform: uppercase;
    margin-left: 0;
    
  }

  &__link {
    text-decoration: none;
    color: map-get($colors, bcg-clr);
  }

  &--visible {
    opacity: 1;
    right: 0;
  }
}
