// /////////////////////////
// @@ MENU-OVELAY REGION
// ////////////////////////

.r-menu-overlay {
  right: -100vw;
  padding: $default-padding;

  @include bcg-overlay(map-get($colors, accent-two), map-get($colors, white));
  
  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: $margin-b;
  }

  &__logo {
    width: 50%;
    max-width: 23rem;
  }

  &__close {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
  }

  &__list {
    width: 75vw;
    max-width: 90rem;
    margin-bottom: $margin-b;

    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      
    }
  }

  &__main-menu {
    display: grid;
  }

  &__product-menu {
    margin-top: $margin-bb;

    @include mq(desktop) {
      margin-top: 0;
    }
  }

  // menu--main.html.twig
  // menu--producten.html.twig

  &__items {
      list-style-type: none;

  }

  &__item {
    font: {
      size: 2rem;
      weight: $fw-bold;
    }
    margin-left: 0;
    justify-self: center;
  }

  &__link {
    text-decoration: none;
    color: map-get($colors, bcg-clr);
  }

  &__bottom {
    text-align: right;
    margin-bottom: $margin-b;
  }

  &--visible {
    opacity: .98;
    right: 0;
  }
}
