// /////////////////////////
// @@ NEWS REGION
// ////////////////////////

.r-news {
  border: 6px solid map-get($colors, accent-two);
  margin-bottom: $margin-bb;

  &__inner {
    padding: $default-padding;

  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tablet) {
      flex-direction: row;
    }
  }

  &__title {

  }

  &__text {
    margin-bottom: $margin-b;
    @include mq(tablet) {
      margin-bottom: 0;
      margin-right: 1rem;
      width: 65%;
    }

  }

  &__images {

    @include mq(tablet) {
      width: 35%;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    
  }

  &__image {}
}