// /////////////////////////
// @@ REGION PRODUCTS
// ////////////////////////

// views-view--producten.html.twig



// views-view-unformatted--producten.html.twig

.r-producten {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include mq(tablet) {
    flex-direction: row;
    align-items: center;
  }

  &__item {
    margin-bottom: $margin-bb;

    @include mq(tablet) {
      width: 23%;
      margin: 1%;
    }
    
  }

}