// /////////////////////////
// @@ STRATEGY REGION
// ////////////////////////

.r-strategy {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $margin-b;

    &__panel {
        width: 100%;
        padding: $default-padding;
        margin-bottom: $margin-b;
        background-color: map-get($colors, accent);
        text-align: center;
    }
}