// /////////////////////////
// @@ STRATEGY REGION
// ////////////////////////

.r-strategy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $margin-bb;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
    }
  }

  &__panel {
    width: 100%;
    padding: $default-padding;
    margin-bottom: $margin-b;
    background-color: map-get($colors, accent);
    color: map-get($colors, bcg-clr);
    text-align: center;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      // @include card-shadow--hover(accent);
      // transform: scale(1.01);
    }

    @include mq(tablet) {
      width: 40%;
      background-color: map-get($colors, bcg-clr);
      color: map-get($colors, black);
      border: 1px solid map-get($colors, black);

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }

    @include mq(desktop) {
      width: 24%;
    }
  }

  &__title {

    &--accent-two {
      color: map-get($colors, accent-two);
    }
  }

  // views-view--strategy_page.html.twig
  &__page-inner {
    margin-bottom: $margin-bb;
    display: flex;
    flex-direction: column;

    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

   // views-view-unformatted--strategy_page.html.twig
  &__page-panel {
    // border: map-get($colors, accent) 1px solid;

    @include mq(tablet) {
      margin: 1%;
      padding: 2rem;
      width: 48%;
      border: map-get($colors, accent) 1px solid;
    }
    

  }

}
