{#
/**
 * @file
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

  <div class="container">
    {{ page.content }}
  </div>
</div>{# /.layout-container #}
