{#
/**
 * @file
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div class="layout-container">

    {# start r-menu-overlay #}
    {% include directory ~ '/templates/partials/shared/menu-overlay.html.twig' %}
    {# r-menu-overlay #}

    {# start r-overlay-contact #}
    {% include directory ~ '/templates/partials/shared/contact-overlay.html.twig' %}
    {# end r-overlay-contact #}

    {# start header #}
    {% include directory ~ '/templates/partials/shared/header.html.twig' %}
    {# end header #}

    <div class="container">

        {# start region news #}
        {% include directory ~ '/templates/partials/shared/region-news.html.twig' %}
        {# end region news #}

        {# start region first intro #}
        {% include directory ~ '/templates/partials/region-first-intro.html.twig' %}
        {# end region first intro #}

        {# start region strategy #}
        {% include directory ~ '/templates/partials/region-strategy.html.twig' %}
        {# end region strategy #}

        {# start region second intro #}
        {% include directory ~ '/templates/partials/region-second-intro.html.twig' %}
        {# end region second intro #}

        {# start region nice keepsake #}
        {% include directory ~ '/templates/partials/region-nice-keepsake.html.twig' %}
        {# end region nice keepsake #}

        {# start region farwell #}
        {% include directory ~ '/templates/partials/region-farwell.html.twig' %}
        {# end region farwell #}

    </div>

</div>
{# /.layout-container #}
