{#
/**
 * @file
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="layout-container">

{# start r-menu-overlay #}
{% include directory ~ '/templates/partials/shared/menu-overlay.html.twig' %}
{# r-menu-overlay #}

{# start r-overlay-contact #}
{% include directory ~ '/templates/partials/shared/contact-overlay.html.twig' %}
{# end r-overlay-contact #}

</div>
{# /.layout-container #}
